<!DOCTYPE html>
<html>
  <head>
    <title>Patients List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
      <%
        var list = '<p><a href="/">Home</a></p><h1>Patients List</h1><table style="width:100%" border = 1><tr><th>First Name</th><th>Last Name</th><th>Contact</th><th>Address</th></tr>';
        for (i = 0; i < patientlist.length; i++) {
          list += '<tr><td>' + patientlist[i].firstName + '</td><td>'+ patientlist[i].lastname + '</td><td>'+ patientlist[i].contact + '</td><td>'+ patientlist[i].address + '</td></tr>';
        }
        return list;
      %>
    </ul>

  </body>
</html>
